.hero-img {
    background: url("../../../deploy/img/heroimage.JPG");
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
}

.hero {
    a {
        text-decoration: none;
    }
    
    ul {
        .details h5 {
            display: none;
        }
        .details a {
            color: $black;
            padding: 20px;
            min-height: 110px;
        }
        .ghibli a {
            background: $yellow;
            &:hover {
                    background: darken($yellow, 10%);
            }
        }
        .location a {
            background: $yellowDark;

            .bold {
                font-weight: 700;
            }

            &:hover {
                    background: darken($yellowDark, 10%);
            }
        }

        @include md {
            .details h5 {
                display: inline;
                padding: 10px;
            }
        }
    }
}