/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

main {
    display: grid;
    grid-template-areas:
        "header"
        "search"
        "hero"
        "planning"
        "gallery"
        "whats-new"
        "footer";
}

.header {
    grid-area: header;
}

.search {
    grid-area: search;
}

.hero {
    grid-area: hero;

    ul {
        display: grid;
    }

    a {
        display: grid;
        grid-template-columns: 500px auto 100px;
    }
}

.planning {
    grid-area: planning;

    ul {
        display: grid;
    }

    a {
        display: grid;
        grid-template-columns: 400px auto;
    }
}

.gallery {
    grid-area: gallery;
}

.whats-new {
    grid-area: whats-new;
}

.footer {
    grid-area: footer;

    .socials ul {
        display: flex;
    }

    .locations {
        section ul li {
            display: grid;
            grid-template-columns: 20px 200px;
        }
    }
}